//colors
$h1_h2Color:rgba(111, 229, 247,0.8);
$h3Color:rgba(99, 247, 185,0.8);
$navColor:rgb(253,187,45);
$footerColor:rgba(247, 153, 136,0.9);
$sectionDiv1Color:rgba(124, 166, 247,1.0);
$sectionDiv2Color:rgba(50, 197, 87,1.0);


//sizing
$navSize:1.6rem;
$h1Size:3.3rem;
$h2Size:2.5rem;
$h3Size:1.9rem;
$footerSize:1.6rem;
$pSize:2rem;
$text1:2rem;
$text2:1.6rem;



//weight
$fW-600:600;

//fonts
$fontMain: Verdana;
$fontSec: Calibri;


